.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 36px;
}

.homeTaem {
  display: flex;
  gap: 14px;
  align-items: center;
}

.awayTeam {
  display: flex;
  gap: 14px;
  align-items: center;
}

.awayTeamWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.arrowUp {
  transform: rotate(180deg);
}

.teamName {
  font-size: 16px;
  font-weight: 600;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.countNumbers {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}