@use "../../shared/styled/mixins.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  @include font-logo;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
}

.content {
  display: flex;
  align-items: center;
  gap: 12px;
  max-height: 56px;
  box-sizing: border-box;
}