@use "./shared//styled/mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul, ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  all: unset;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

input, textarea {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}

::placeholder {
  color: gray;
  opacity: 1;
}

body {
  @include font-main;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.app {
  max-width: 1836px;
  margin: 0 auto;
  margin-top: 53px;
  min-height: 100vh;
  padding-left: 42px;
  padding-right: 42px;
}
